<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Anaheim|Marcellus|Open+Sans' rel='stylesheet' type='text/css'>
    <link href='static/styles/index.css' rel='stylesheet' type='text/css'>
    <script src='static/js/blab.js'></script>
    <title>Bablr</title>
</head>
<body>
    <div>
        <h1 class='title'>Bablr</h1>
    </div>
    <div>
        <h3 id='phrase'>Some fancy phrase.</h3>
        <form id='userInput'>
        <input id='userText' type='text'><button type='submit'>Submit</button>
        </form>
    </div>

    <script>
        (function () {
            ready();
        })();
    </script>
</body>
</html>
