.title {
    font-family: 'Open Sans', sans-serif;
}

.phrase {
    font-family: 'Marcellus', sans-serif;
    word-wrap: break-word;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}
